<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Apps</title>
  </head>
  <body>
    <div class="all-apps-body">
  <div class="all-apps-header">
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Apps</h1>
      <a class="add-app-link" href="/users/<%=user._id%>/applications/new">Add an App</a>
  </div>
    </div>
    <ul>
        <% applications.forEach((application) => { %>
            <li>
              <a href="/users/<%= user._id%>/applications/<%=application._id%>"><%= application.title %> at <%= application.company %></a></li>
        <% }) %>
    </ul>
  </body>
</html>